<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>IMPSY</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>IMPSY intelligent musical instrument</string>
					<key>manufacturer</key>
					<string>CpM!</string>
					<key>name</key>
					<string>Charles Martin: IMPSY</string>
					<key>subtype</key>
					<string>impy</string>
					<key>type</key>
					<string>aumi</string>
					<key>version</key>
					<integer>1</integer>
					<key>sandboxSafe</key>
					<true/>
					<key>tags</key>
					<array>
						<string>MIDI</string>
						<string>Machine Learning</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).IMPSYViewController</string>
	</dict>
</dict>
</plist>
